@page "/final_zakaz"
@inject IzdelieService Service
@inject ZakazService zakazServ
@inject UserManager<User> userManager



<MudContainer Class="mt-16">
    <MudGrid Class="mt-8">
        <MudItem>
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Ваше изделие</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div>
                        <img width="490" height="400" src="@spr.UrlPic" alt="Изделие" />
                    </div>
                    <br />
                    @*<select @onchange="Callback" value="@selectedVal">
                           @for (double i = 15; i <= 20; i += 0.5)
                            {
                                <option value="@i" />
                            }
                        </select>*@
                    <MudSelect ValueChanged="Price_shet" T="double" Label="Размер" Strict="true" Variant="Variant.Filled" Format="F2">
                        @for (double i = 15; i <= 20; i += 0.5)
                        {
                            <MudSelectItem T="double" Value="@i" />
                        }
                    </MudSelect>
                    <MudText Typo="Typo.overline">Примерная стоимость кольца: @izdel.PriceIzd руб</MudText>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton @onclick="SetIzdelie" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Заказать</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem>
            <MudCard Elevation="25">

            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>


<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

@code {

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Grey.Darken4,
            //Error = Colors.Blue.Darken1,
            Dark = Colors.Shades.White,
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    }; //цвета
    SetCena cena = new();
    protected override void OnInitialized()
    {
        cena = zakazServ.SetCena(spr.IdIzdspr);
    }
    IzdelieSpr spr = Conf_Osobenn.selectedIzd;
    double selectedVal; //выбранный размер
    Izdelie izdel = new();
    Zakaz zakaz = new();
    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }


    private void Price_shet(double selVal)
    {
        this.selectedVal = selVal;
        izdel.PriceIzd = Math.Round(cena.Koeff.Value * cena.PriceMater.Value * Convert.ToDecimal(selectedVal), 2); //он выбирает размер и сразу справа появляет цена посчитанныая и возможность нажать на заказ

    }
    private async void SetIzdelie()
    {
        izdel.IdIzdspr = spr.IdIzdspr;
        izdel.DateShtampa = null;
        izdel.IdProb = 1;
        izdel.Razmer = selectedVal;
        izdel.PriceIzd = Math.Round(cena.Koeff.Value * cena.PriceMater.Value * Convert.ToDecimal(selectedVal), 2);
        var idIzd = Service.InsertIzdelie(izdel);
        var auState = await authenticationStateTask;
        var User = auState.User;
        var us = await userManager.GetUserAsync(User);
        zakaz.IdClient = us.Id;
        zakaz.IdDost = null;
        zakaz.DateZak = DateTime.Now;
        zakaz.IdIzd = idIzd;
        zakaz.StatusZak = false;
        zakaz.IdClientNavigation = us;
        zakazServ.InsertZakaz(zakaz);

    }
}
